<ion-header mode="md">
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Stores
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let row of this.storeService.storeLocations" class="ion-no-margin ion-no-padding" size="6" size-md="4">
        <ion-card class="ion-activatable ripple-parent bg-white" mode="md" (click)="selectStore(row)">
          <ion-img [src]="row.src"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>