<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="painting-tips"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Painting Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-grid class="ion-no-padding bg-white">
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class="ion-padding-start ion-padding-end" size="12">
        <ion-text>
          <h1 class="about-title"><strong>For Excellent Painting Work</strong></h1>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding" size="12" size-md="7" style="padding-top: 0;">
        <ion-text>
          <h3 class="about-title">CEILING COMES FIRST</h3>
        </ion-text>
        <p>PAINT CEILING FIRST to avoid drips and spatters on freshly painted walls. Paint towards the light source, whenever possible, so you can readily detect where you start and stop or where you may have missed an area.</p>
        <p>Start at a corner of the ceiling and apply with an edge-trimmed roller or a small brush, a strip of paint along the line where ceiling meets the wall. Next, with a larger roller, roll out a rich even coat, working across the width of the room, overlapping as much as possible the area which has been strip-brushed or rolled.</p>
        <p>Use one-roller load to cover an area the width of the roller and about 4 1/2 to 5 feet long.Roll two or three strips in this way and then lightly cross-roll from unpainted to newly painted areas. Finish area with light strokes of the roller in the original direction.</p>
      </ion-col>
      <ion-col class="" size="12" size-md="5">
        <ion-img src="assets/tips/work/Ceiling-Comes-First.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class=" ion-hide-sm-down" size="12" size-md="5">
        <ion-img src="assets/tips/work/Paint-Walls-Next.jpg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="7">
        <ion-text>
          <h3 class="about-title">PAINT YOUR WALLS NEXT</h3>
        </ion-text>
        <p>Walls must be dust-free, gloss-free, smooth, and with all cracks and faults repainted. With an edge-trimmer or small brush, paint a strip of colour at the ceiling line.</p>
        <p>With a roller fully coated, start at the upper left-hand corner if you are right-handed (brush can also be used for large areas, but rollers are faster and offer more extension.) Start at the upper right-hand corner if you are left-handed. Work down towards the floor with up and down strokes in strips about 3 feet wide.</p>
        <p>With a newly-loaded roller, always begin by rolling upward each time. Do not press the roller too hard against the surface. Limit your application to a small area each time.</p>
      </ion-col>
      <ion-col class=" ion-hide-sm-up" size="12" size-md="5">
        <ion-img src="assets/tips/work/Paint-Walls-Next.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class="ion-padding-start ion-padding-end" size="12">
        <ion-text>
          <h1 class="about-title"><strong>For Excellent Painting Work</strong></h1>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding" size="12" size-md="7" style="padding-top: 0;">
        <ion-text>
          <h3 class="about-title">PAINTING YOUR WINDOWS</h3>
        </ion-text>
        <p>Prepare windows by filling in chips and holes with wood putty. Tighten loosened window panes with a glazing compound according to package instructions.</p>
        <p>Place masking tape around pane edges to prevent paint from dripping onto the glass. Remove masking tape after paint has set but not dried completely.</p>
        <ion-text>
          <h3 class="about-title">DOUBLE-HUNG WINDOWS</h3>
        </ion-text>
        <p>Raise the bottom window and lower the upper window. Paint top and front of the bottom window. Next, paint exposed crossbars (thin frames) and exposed sections of upper window. Use a 2-inch sash brush for painting the window trim. Reverse the positions of the windows and finish painting. Paint exposed check rails (window guides). Return windows to original position, leaving them slightly open at the top and bottom. Finish painting checkrails. Paint window frames. Do the top first, then the sides, and the bottom last.</p>
        <ion-text>
          <h3 class="about-title">CASEMENT WINDOWS</h3>
        </ion-text>
        <p>(Those which crank or swing out requires a different treatment). First, crank the window out as far as it will go. Paint the wood frame around the glass. Witha small sash brush, paint over the glass sealer around the glass. Paint inside of the window frame, starting at the top. Finish by painting the crank mechanism and latches and then the sides. Paint the bottom last.</p>
        <ion-text>
          <h3 class="about-title">METAL WINDOWS</h3>
        </ion-text>
        <p>If you are painting metal windows, a metal primer is necessary only when bare metal is exposed.</p>
      </ion-col>
      <ion-col class="" size="12" size-md="5">
        <ion-img src="assets/tips/work/Painting-Your-Window.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class=" ion-hide-sm-down" size="12" size-md="5">
        <ion-img src="assets/tips/work/Paint-Your-Woodwork.jpg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="7">
        <ion-text>
          <h2 class="about-title">YOU ARE READY TO PAINT YOUR WOODWORK</h2>
        </ion-text>
        <p>Woodwork should not be painted until walls have dried to prevent accidentally scuffing up the walls when working on the woodwork.</p>
        <ion-text>
          <h3 class="about-title">WORKING ON NEW WOODWORK</h3>
        </ion-text>
        <p>For an opaque finish, an undercoat is needed in addition to your finish paint.</p>
        <p>With a newly-loaded roller, always begin by rolling upward each time. Do not press the roller too hard against the surface. Limit your application to a small area each time.</p>
      </ion-col>
      <ion-col class=" ion-hide-sm-up" size="12" size-md="5">
        <ion-img src="assets/tips/work/Paint-Your-Woodwork.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>
</ion-content>