<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="painting-tips"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Painting Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col class="ion-padding-start ion-padding-end" size="12">
        <ion-text>
          <h1 class="about-title">General Directions</h1>
        </ion-text>
        <p>Before starting to paint, carefully observe the following:</p>
        <ol type="A">
          <li>Clean foreign materials on the surface such as dust and dirt. Scrape off loosely adhering old paint film
            and rust using a brush, broom, chisel, scraper, sandpaper, or other means of removal.</li>
          <li>Use power equipment or chemical means to remove tight and stubborn materials on the surface like waxy
            materials, grease and gums, flakes, rust, and other contaminants that can prevent the good adhesion of the
            paint. Generally, thinner is used to remove oil and grease from surface.</li>
          <li>Where necessary, modify the surface chemically using the right primer to make the painting surface
            receptive to succeeding coats.</li>
          <li>To improve adhesion, roughen the surface by sanding, sandblasting, or by any other method of abrading the
            surface.</li>
        </ol>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ion-justify-content-center bg-white" 
    style="background-image:url(assets/tips/general-direction/remember.jpg); background-size: cover; background-repeat: no-repeat;">
      <ion-col class="ion-padding-start ion-padding-end" size="12">
        <ion-text>
          <h1 class="about-title">Points to Remember</h1>
        </ion-text>
        <ul>
          <li>Do not paint when the surface is wet.</li>
          <li>Always wear necessary protection before painting.</li>
          <li>Repair voids, cracks, nicks, and the like with the proper patching materials.</li>
          <li>Avoid painting when it is too hot or cold.</li>
          <li>Allow enough ventilation during application</li>
          <li>Before painting, make sure you have the right paint.</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col class="ion-padding-start ion-padding-end" size="12">
        <ion-text>
          <h1 class="about-title">Surface Preparation (Professional Treatment)
          </h1>
        </ion-text>
        <p>The foundation to good painting practice of the entire paint system lies primarily on correct Surface
          Preparation. It is definitely the determining factor of any coating system to perform and withstand the most
          demanding conditions. Poor preparation on the substrate would mean a premature failure, and under demanding
          conditions may result to big problems.</p>
        <p>For maximum coatings performance, correct Surface Preparation is a must. It needs more time preparing the
          surface than in actual painting.</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-up" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Masonry.jpg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="7">
        <ion-text>
          <h1 class="about-title">A. MASONRY</h1>
        </ion-text>
        <p>Concrete, building block, stucco, brick and fiber cement board</p>
        <ion-text>
          <h4 class="about-title">A-1 New Surface</h4>
        </ion-text>
        <ol>
          <li>Concrete, building block and brick should be given a minimum of 30 days curing to reduce water and alkali to safe level.</li>
          <li>The surface must be dry and clean: Remove dirt, powder and loose mortar by wire brushing and scraping.</li>
          <li>Cracks or breaks must be repaired.</li>
          <li>Excess alkalinity should be neutralized with Premium Welcoat Concrete Neutralizer PWCN-7250. Check neutrality by using universal pH paper. Allow surface to dry thoroughly. Dust off crystalline deposits if there are any.</li>
        </ol>
        <ion-text>
          <h4 class="about-title">A-2 Old and Previously Painted Surface</h4>
        </ion-text>
        <ol>
          <li>Remove all loose cement, dust, dirt, grease and/or peeling-off paint.</li>
          <li>Clean and sand old paint in good condition and dust off before repainting.</li>
        </ol>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-down" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Masonry.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-up" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Wood.jpg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="7">
        <ion-text>
          <h1 class="about-title">B. WOOD</h1>
        </ion-text>
        <ol>
          <li>Sand the surface with coarse sandpaper followed by fine.</li>
          <li>The surface must be clean and dry for painting.</li>
          <li>Remove all sharp edges and seal pitch.</li>
        </ol>
        <ion-text>
          <h4 class="about-title">B-2 Old and Previously Painted Surface (INTERIOR/EXTERIOR)</h4>
        </ion-text>
        <ol>
          <li>Remove all loose and peeling-off paint. If severe peeling has occurred, remove all paint by using Octane Paint Remover (400-5230).</li>
        </ol>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-down" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Wood.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-up" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Roof.jpg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="7">
        <ion-text>
          <h1 class="about-title">C. ROOF MATERIALS</h1>
        </ion-text>
        <p>For new unpainted galvanized iron sheets, apply Premium Welcoat Galva-Treat Solution (PWGT-0369) and rinse with clear water. Wipe the surface with cloth moistened with Premium Welcoat Lacquer Thinner (PWT-1610). Do not use turpentine or mineral spirits since they leave an oily deposit on the surface.</p>
        <ion-text>
          <h4 class="about-title">C-2 Old and Previously Painted Surface GALVANIZED IRON SHEETS
          </h4>
        </ion-text>
        <p>For corroded galvanized iron sheets, remove rust by wire brushing and sanding. Treat with Premium Welcoat Rust Converter (PWRC-0276). Wipe with clean cloth moistened with Premium Welcoat Lacquer Thinner (PWT-1610) to eliminate unreacted rust converter. Apply immediately with primer before rust sets in.</p>
        <p>For pre-painted galvanized iron sheets, sand the surface with sandpaper until dull. Wipe off with clean rag before applying paint. Spot prime if necessary.</p>
        <ion-text>
          <h4 class="about-title">C-3 UNGLAZED ROOF TILES:
          </h4>
        </ion-text>
        <p>Treat the surface with Premium Welcoat Concrete Neutralizer (PWCN-7250). After neutralizing, wash with water and allow the surface to dry.</p>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-down" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Roof.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round ion-justify-content-center" >
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-up" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Roof.jpg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="7">
        <ion-text>
          <h1 class="about-title">D. METAL SURFACES</h1>
        </ion-text>
        <ion-text>
          <h4 class="about-title">D-1 New Surface
          </h4>
        </ion-text>
        <ol>
          <li>Remove grease and oil by wiping with PREMIUM WELCOAT LACQUER THINNER (PWT-1610). Do not use turpentine or mineral spirits since it will leave an oily deposit on the surface.</li>
          <li>Sand or power grind sharp edges or protrusions on the surface as these areas frequently are the first area to rust after painting.</li>
          <li>Remove welding deposits by mechanical abrasion or sanding.</li>
          <li>Remove rust by treating the surface with PREMIUM WELCOAT RUST CONVERTER (PWRC-0276). Remove excess rust converter by wiping with PREMIUM WELCOAT LACQUER THINNER (PWT-1610).</li>
          <li>Paint immediately after an hour.</li>
        </ol>
        <ion-text>
          <h4 class="about-title">D-2 Old and Previously Painted Surface
          </h4>
        </ion-text>
        <ol>
          <li>Sand old paint until dull. Remove all loose and peeling paint. If peeling is severe, remove all paints with OCTANE PAINT REMOVER (400-5230).</li>
          <li>Remove scale by sandblasting to white metal. If sandblasting is not possible, remove scale by chipping, scraping, wire brushing and sanding.</li>
          <li>Remove oil and grease by wiping with PREMIUM WELCOAT LACQUER THINNER (PWT-1610).</li>
          <li>Treat surface with PREMIUM WELCOAT RUST CONVERTER (PWRC-0276). Repeat when necessary. Remove excess rust converter by wiping with PREMIUM WELCOATLACQUER THINNER (PWT-1610).</li>
          <li>Paint immediately after an hour.</li>
        </ol>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end ion-hide-sm-down" size="12" size-md="5">
        <ion-img src="assets/tips/general-direction/Roof.jpg" class="ion-margin"></ion-img>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>