<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="tabs/home-tab"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Color Capture
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slots="fixed">
  <ion-grid class="capture-container ">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="8">
        <h1 id="title" class="ion-text-center">Capture and match your <br/> color inspiration</h1>
        <ion-button class="ion-margin cc-button" color="light" expand="block" size="large" tappable (click)="openCamera()">
          <ion-icon name="camera" class="ion-margin-end" color="primary" style="font-size: 4rem;"></ion-icon>
          <span class="cc-button-main">Camera</span></ion-button>
          <ion-button *ngIf=" ! platform.is('ios')"class="ion-margin cc-button" color="light" fill="outline" expand="block" size="large" tappable  (click)="openGallery()">
            <ion-icon name="images" class="ion-margin-end" style="font-size: 4rem;"></ion-icon>
            Gallery</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>