<ion-header mode="md">
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      We are here to help
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-start ion-padding-end ion-hide" size="12" size-md="8">
        <ion-card class="ion-activatable ripple-parent ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="brush-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">Professional Painting Service</h3>
              </ion-text>
              <p class="card-description">8-682-8888 / 8-645-0807</p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8" (click)="sendEmail()">
        <ion-card class="ion-activatable ripple-parent ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="information-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">General Inquiry</h3>
              </ion-text>
              <p class="card-description">info@rainorshinepaint.com</p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8" >
        <ion-card class="ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="mail-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">Contact Us</h3>
              </ion-text>
              <p class="card-description">For your suggestions or feedback</p>
              <p class="card-description"><ion-text color="primary" (click)="callPhone('8-682-8888')"><strong>8-682-8888</strong></ion-text> / 
                <ion-text color="primary" (click)="callPhone('8-645-0807')"><strong>8-645-0807</strong></ion-text></p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end ion-hide" size="12" size-md="8" (click)="open('faq')">
        <ion-card class="ion-activatable ripple-parent ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="help-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">FAQ</h3>
              </ion-text>
              <p class="card-description">Frequently asked questions</p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end ion-hide" size="12" size-md="8" (click)="open('disclaimer')">
        <ion-card class="ion-activatable ripple-parent ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="warning-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">Disclamer</h3>
              </ion-text>
              <p class="card-description">Color accuracy statement</p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8" (click)="open('policy')">
        <ion-card class="ion-activatable ripple-parent ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="document-text-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">Policy</h3>
              </ion-text>
              <p class="card-description">Handling of personal information</p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <!--<ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8" (click)="open('painting-tips')">
        <ion-card class="ion-activatable ripple-parent ion-no-margin ion-padding-top-4 ion-padding-bottom-4 col-btn" mode="ios">
          <ion-row>
            <ion-col size="2">
              <ion-icon class="card-icon" name="color-palette-outline"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-padding-end">
              <ion-text>
                <h3 class="card-title">Painting Tips</h3>
              </ion-text>
              <p class="card-description">&nbsp;</p>
            </ion-col>
          </ion-row>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>-->
    </ion-row>
  </ion-grid>
</ion-content>