<ion-header class="ion-no-border" style="height: 30px; background-color: transparent !important; --background: transparent !important;  ">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center bg-primary">
    <ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8">
      <ion-item lines="none">
        <ion-img src="assets/icon/favicon.png" id="home-logo"></ion-img>
      </ion-item>
      <ion-text color="light" class="ion-no-margin">
        <p id="home-top-text" class="ion-text-center">Colorful Protection for your Home</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-img src="assets/banner/banner.jpg"></ion-img>
  <ion-grid class="ion-no-padding" style="background-color: #f3f3f3;">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-start ion-padding-end" size="12" size-md="8" style="background-color: #f3f3f3;">
        <ion-text class="ion-text-uppercase">
          <h1 class="about-title">About Us</h1>
        </ion-text>
        <p class="about-text">Rain or Shine (ROS) Elastomeric Waterproofing Paint is the flagship brand of Asian
          Coatings Philippines
          Incorporated. It is one of the leading paint manufacturers in the Philippines. The company started
          manufacturing high quality house paints in 1992 and with the foresight of its visionary leader, the company
          ventured into making superior elastomeric waterproofing paint in 2004 under the brand name Rain or Shine
          (ROS). <ion-text color="tertiary" [class.ion-hide]="!seeMore" (click)="this.seeMore = false"><strong>See more...</strong></ion-text></p>
        <p class="about-text" [class.ion-hide]="seeMore">
          Smartly marketing their products to their target market the company went into sports marketing. It joined
          the Philippine Basketball Association (PBA) in 2006 and named its team RAIN OR SHINE ELASTOPAINTERS.
        </p>
        <p class="about-text" [class.ion-hide]="seeMore">
          Rain or Shine (ROS) will continue its leadership in elastomeric paints by providing its consumers the
          highest quality products and serve them with excellent sales service. We will develop new products that will
          help our customers in providing protection and beauty to any structure because with Rain or Shine (ROS)
          "WE’VE GOT YOU COVERED". <ion-text color="tertiary" [class.ion-hide]="seeMore" (click)="this.seeMore = true"><strong>Hide</strong></ion-text></p>
      </ion-col>
      <ion-col class="ion-padding-start ion-padding-end bg-white" size="12" size-md="8">
        <ion-text class="ion-text-uppercase">
          <h1 class="about-title">ROS at your service</h1>
        </ion-text>
        <ion-img src="assets/banner/about-services.jpg" class="about-service-img"></ion-img>
        <p class="about-text">Rain or Shine Technical Service Representative provides on-time technical service to its
          customers. With a fleet
          of technical service vehicles we are able to provide excellent service to help you with your painting project.
          We can evaluate your paint requirements and provide you with accurate recommendation that is best suited for
          your painting needs. We also provide paint estimate free of charge. We can do actual product sampling at the
          jobsite and give you product orientation on thespot. We can troubleshoot any problems you may encounter with
          regards to paints even if you used other brands.</p>

        <p class="about-text">We at Rain or Shine are committed to provide you a nice painting experience with our
          service on wheels and will make sure that your project is protected against water penetration and harsh elements.</p>

        <p class="about-text"><span class="quote">"Don't just use any paint, with Rain or Shine you are protected."</span></p>
            <br/><br/>
            <p class="about-text">&nbsp;</p>
      </ion-col>
    </ion-row>
    <!--<ion-row class="ion-justify-content-center">
      <ion-col class="video-con ion-padding-start ion-padding-end bg-white" size="12" size-md="8">
        <h1 class="about-title">Videos</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col  style="height: 400px;"class="video-con ion-padding ion-margin-bottom bg-white" size="12" size-md="8">
        <iframe style="width: 100%; height: 100%; background-color: #000;" src="https://www.youtube.com/embed/2g2hXU5Gdbs" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-text>
          <h5 class="video-title">Company Profile</h5>
        </ion-text>
      </ion-col>
      <ion-col  style="height: 400px;"class="video-con ion-padding ion-margin-bottom bg-white" size="12" size-md="8">
        <iframe style="width: 100%; height: 100%;  background-color: #000;" src="https://www.youtube.com/embed/eqUS4KTw_vc" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <ion-text>
            <h5 class="video-title">Rain or Shine Fresco Commercial</h5>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col  style="height: 400px;"class="video-con ion-padding ion-margin-bottom bg-white" size="12" size-md="8">
        <iframe style="width: 100%; height: 100%;  background-color: #000;" src="https://www.youtube.com/embed/ddnk95Z1fk4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <ion-text>
            <h5 class="video-title">Rain or Shine Magilas Moves R2</h5>
          </ion-text>
      </ion-col>
      <ion-col  style="height: 400px;"class="video-con ion-padding ion-margin-bottom bg-white" size="12" size-md="8">
        <iframe style="width: 100%; height: 100%;  background-color: #000;" src="https://www.youtube.com/embed/bl-L7S01AvQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <ion-text>
            <h5 class="video-title">ROS Property</h5>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col  style="height: 400px;"class="video-con ion-padding ion-margin-bottom bg-white" size="12" size-md="8">
          <video style="width: 100%; height: 100%; background-color: #000;" 
          poster="https://rainorshinepaint.com/assets/images/video-thumbs/sista.jpg" controls><source src="https://rainorshinepaint.com/assets/videos/Sista.mp4" type="video/mp4"></video>
          <ion-text>
            <h5 class="video-title">Sista</h5>
          </ion-text>
      </ion-col>
    </ion-row>-->
  </ion-grid>
</ion-content>