
.category-container{
    --ion-background-color: #f3f3f3 !important;
    --background:  #f3f3f3 !important;
    background:  #f3f3f3 !important;
}

div.category{
  white-space: nowrap;
  overflow-x: auto !important;
}

ion-card{
    --ion-background-color: #ffffff !important;
    --background:  #ffffff !important;
    background:  #ffffff !important;
    margin-top: 0;
    margin-bottom: 0.7rem;
}
ion-card-title{
    font-size: 1rem;
}

.product-list-img{
    height: 100%;
    vertical-align: middle;
}
.product-list-header{
    padding-left: 0;
}