
.category-container{
    --ion-background-color: #f3f3f3 !important;
    --background:  #f3f3f3 !important;
    background:  #f3f3f3 !important;
}
.col-btn{
    border-radius: 5px;
    margin-bottom: 0.7rem;
    background: #fff;
}

.card-title{
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 1rem;
    color: var(--app-primary-color);
}

.card-description{
    margin-top: 0;
}

.card-icon{
    color: var(--app-primary-color);
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.5rem;
}