<ion-row class="ion-justify-content-center">
  <ion-col *ngFor="let row of faqContent" class="ion-no-marign ion-no-padding" size="12" size-lg="8">
    <ion-card class="paint-issues">
      <ion-card-header class="ion-margin-end">
        <ion-card-subtitle color="primary">{{row.question}}
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content [class.ion-hide]="!row.active">{{row.answer}}</ion-card-content>
      <ion-button fill="clear" class="no-ripple toggle-btn" (click)="row.active = !row.active">
        <ion-icon color="medium" slot="icon-only" [name]="row.active ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-col>
</ion-row>