<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="painting-tips"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Painting Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-grid class="ion-no-padding bg-white">
    <ion-row class="ion-margin ion-padding bg-white border-round"  style="margin-bottom:0; padding-bottom:0;">
      <ion-col class="ion-padding-start ion-padding-end" size="12">
        <ion-text>
          <h1 class="about-title"><strong>How Colors Affect You</strong></h1>
        </ion-text>
        <p>There are four psychological primary colours - red, blue, yellow and green. They relate respectively to the body, the mind, the emotions and the essential balance between these three. The psychological properties of the eleven basic colours are as follows.</p>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin ion-padding bg-white border-round" style="margin-top:0; padding-top:0;" >
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Red.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">RED | Physical</h3>
        </ion-text>
        <p><strong>Positive:</strong> This colour is a warm and positive colour associated with our most physical needs and our will to survive. It exudes a strong and powerful masculine energy. Red is energizing. It excites the emotions and motivates us to take action.</p>
        <p><strong>Negative:</strong> Defiance, aggression, visual impact, strain.</p>
        <p>Red is a powerful colour. Although not technically the most visible, it has the property of appearing to be nearer than it is and therefore it grabs our attention first. Hence its effectiveness in traffic lights the world over. Its effect is physical; it stimulates us and raises the pulse rate, giving the impression that time is passing faster than it is. It relates to the masculine principle and can activate the "fight or flight" instinct. Red is strong, and very basic. Pure red is the simplest colour, with no subtlety. It is stimulating and lively, very friendly. At the same time, it can be perceived as demanding and aggressive.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Blue.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">BLUE | Intellectual</h3>
        </ion-text>
        <p><strong>Positive:</strong> Intelligence, communication, trust, efficiency, serenity, duty, logic, coolness, reflection, calm.</p>
        <p><strong>Negative:</strong> Coldness, aloofness, lack of emotion, unfriendliness.</p>
        <p>Blue is the colour of the mind and is essentially soothing; it affects us mentally, rather than the physical reaction we have to red. Strong blues will stimulate clear thought and lighter, soft blues will calm the mind and aid concentration. Consequently it is serene and mentally calming. It is the colour of clear communication. Blue objects do not appear to be as close tous as red ones. Time and again in research, blue is the world's favourite colour. However, it can be perceived as cold, unemotional and unfriendly.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Green.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">GREEN | Balance</h3>
        </ion-text>
        <p><strong>Positive:</strong> Harmony, balance, refreshment, universal love, rest, restoration, reassurance, environmental awareness, equilibrium, peace.</p>
        <p><strong>Negative:</strong> Boredom, stagnation, blandness, enervation.</p>
        <p>Green strikes the eye in such a way as to require no adjustment whatever and is, therefore, restful. Being in the centre of the spectrum, it is the colour of balance - a more important concept than many people realise. When the world about us contains plenty of green, this indicates the presence of water, and little danger of famine, so we are reassured by green, on a primitive level. Negatively, it can indicate stagnation and, incorrectly used, will be perceived as being too bland.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Yellow.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">YELLOW | Emotional</h3>
        </ion-text>
        <p><strong>Positive:</strong> Optimism, confidence, self-esteem, extraversion, emotional strength, friendliness, creativity.</p>
        <p><strong>Negative:</strong> Irrationality, fear, emotional fragility, depression, anxiety, suicide.</p>
        <p>The yellow wavelength is relatively long and essentially stimulating. In this case the stimulus is emotional, therefore yellow is the strongest colour, psychologically. The right yellow will lift our spirits and our self-esteem; it is the colour of confidence and optimism. Too much of it, or the wrong tone in relation to the other tones in a colour scheme, can cause self-esteem to plummet, giving rise to fear and anxiety. Our "yellow streak" can surface.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Orange.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">ORANGE</h3>
        </ion-text>
        <p><strong>Positive:</strong> Physical comfort, food, warmth, security, sensuality, passion, abundance, fun.</p>
        <p><strong>Negative:</strong> Deprivation, frustration, frivolity, immaturity.</p>
        <p>Since it is a combination of red and yellow, orange is stimulating and reaction to it is a combination of the physical and the emotional. It focuses our minds on issues of physical comfort - food, warmth, shelter etc. - and sensuality. It is a 'fun' colour. Negatively, it might focus on the exact opposite - deprivation. This is particularly likely when warm orange is used with black. Equally, too much orange suggests frivolity and a lack of serious intellectual values.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Violet.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">VIOLET | Spiritual</h3>
        </ion-text>
        <p><strong>Positive:</strong> Spiritual awareness, containment, vision, luxury, authenticity, truth, quality.</p>
        <p><strong>Negative:</strong> Introversion, decadence, suppression, inferiority.</p>
        <p>The shortest wavelength is violet, often described as purple. It takes awareness to a higher level of thought, even into the realms of spiritual values. It is highly introverted and encourages deep contemplation, or meditation. It has associations with royalty and usually communicates the finest possible quality. Being the last visible wavelength before the ultra-violet ray, it has associations with time and space and the cosmos. Excessive use of purple can bring about too much introspection and the wrong tone of it communicates something cheap and nasty, faster than any other colour.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Gray.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">GRAY</h3>
        </ion-text>
        <p><strong>Positive:</strong> Psychological neutrality.</p>
        <p><strong>Negative:</strong> Lack of confidence, dampness, depression, hibernation, lack of energy.</p>
        <p>Pure grey is the only colour that has no direct psychological properties. It is, however, quite suppressive. A virtual absence of colour is depressing and when the world turns grey we are instinctively conditioned to draw in and prepare for hibernation. Unless the precise tone is right, grey has a dampening effect on other colours used with it. Heavy use of grey usually indicates a lack of confidence and fear of exposure.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Pink.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">PINK</h3>
        </ion-text>
        <p><strong>Positive:</strong> Physical tranquillity, nurture, warmth, femininity, love, sexuality, survival of the species.</p>
        <p><strong>Negative:</strong> Inhibition, emotional claustrophobia, emasculation, physical weakness.</p>
        <p>soothes, rather than stimulates. (Interestingly, red is the only colour that has an entirely separate name for its tints. Tints of blue, green, yellow, etc. are simply called light blue, light green, etc.) Pink is a powerful colour, psychologically. It represents the feminine principle, and survival of the species; it is nurturing and physically soothing. Too much pink is physically draining and can be somewhat emasculating.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/White.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">WHITE</h3>
        </ion-text>
        <p><strong>Positive:</strong> Hygiene, sterility, clarity, purity, cleanness, simplicity, sophistication, efficiency.</p>
        <p><strong>Negative:</strong> Sterility, coldness, barriers, unfriendliness, elitism.</p>
        <p>Just as black is total absorption, so white is total reflection. In effect, it reflects the full force of the spectrum into our eyes. Thus it also creates barriers, but differently from black, and it is often a strain to look at. It communicates, "Touch me not!" White is purity and, like black, uncompromising; it is clean, hygienic, and sterile. The concept of sterility can also be negative. Visually, white gives a heightened perception of space. The negative effect of white on warm colours is to make them look and feel garish.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Black.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">BLACK</h3>
        </ion-text>
        <p><strong>Positive:</strong> Sophistication, glamour, security, emotional safety, efficiency, substance.</p>
        <p><strong>Negative:</strong> Oppression, coldness, menace, heaviness.</p>
        <p>Black is all colours, totally absorbed. The psychological implications of that are considerable. It creates protective barriers, as it absorbs all the energy coming towards you, and it enshrouds the personality. Black is essentially an absence of light, since no wavelengths are reflected and it can, therefore be menacing; many people are afraid of the dark. Positively, it communicates absolute clarity, with no fine nuances. It communicates sophistication and uncompromising excellence and it works particularly well with white. Black creates a perception of weight and seriousness. It is a myth that black clothes are slimming.</p>
      </ion-col>
      <ion-col class="ion-padding " size="12" size-md="6">
        <ion-img src="assets/tips/color-affect/Brown.jpg"></ion-img>
        <ion-text>
          <h3 class="about-title">BROWN</h3>
        </ion-text>
        <p><strong>Positive:</strong> usness, warmth, Nature, earthiness, reliability, support.</p>
        <p><strong>Negative:</strong> Lack of humour, heaviness, lack of sophistication.</p>
        <p>Brown usually consists of red and yellow, with a large percentage of black. Consequently, it has much of the same seriousness as black, but is warmer and softer. It has elements of the red and yellow properties. Brown has associations with the earth and the natural world. It is a solid, reliable colour and most people find it quietly supportive - more positively than the ever-popular black, which is suppressive, rather than supportive.</p>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>