<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="tabs/home-tab"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Search
    </ion-title>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchText" color="light"  placeholder="Search product and color collection"></ion-searchbar>
  <ion-item color="light" class="ion-hide">
    <ion-label>Search By</ion-label>
    <ion-select value="product" [(ngModel)]="searchBy" okText="Select" cancelText="Cancel">
      <ion-select-option value="product">Product</ion-select-option>
      <ion-select-option value="color">Color Name</ion-select-option>
      <ion-select-option value="color-code">Color Code</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>
  <ion-grid  id="product-con" class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <div *ngFor="let product of this.productService.allSearchProducts">
        <ion-col *ngIf="checkProductSearch(product)" class="ion-no-margin ion-no-padding" size="12" size-lg="8">
          <ion-card mode="ios" class="ion-activatable ripple-parent" tappable (click)="viewProductDetail(product)">
            <ion-row>
              <ion-col size="3" size-lg="3">
                <ion-img class="product-list-img" [src]="product.image"></ion-img>
              </ion-col>
              <ion-col size="9" size-lg="9">
                <ion-card-header class="product-list-header">
                  <ion-card-title color="dark">{{product.title}}</ion-card-title>
                  <ion-card-subtitle color="medium">{{product.subtitle}}</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
            </ion-row>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
  <ion-grid id="color-con">
    <ion-row>
        <ion-col *ngFor="let color of this.productService.colorsSearch" class="color-box-container ion-no-margin"
          [ngStyle]="{'background-color': color.hex}" [class.ion-hide]=" ! checkColorSearch(color)"
        (click)="viewColor(color)" size="3" size-sm="3">
          <div class="color-box"></div>
          <p class="color-detail" [ngStyle]="{'color': color.dark ? '#000000' : '#ffffff'}" >
            <span style="font-weight:900;">{{color.name}}</span><br/>{{color.code}}</p>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>