<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="painting-tips"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center ion-text-uppercase">
      Painting Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    
    <ion-row class="ion-padding ion-justify-content-center bg-white">
      <ion-col class="ion-padding-start ion-padding-end" size="12" size-lg="8">
        <ion-text>
          <h1 class="about-title"><strong>PAINTING 101</strong></h1>
        </ion-text>
        <ul style="list-style:none; padding:0;">
          <li><ion-img src="assets/general-directions/1.jpg"></ion-img></li>
          <li><ion-img src="assets/general-directions/2.jpg"></ion-img></li>
          <li><ion-img src="assets/general-directions/3.jpg"></ion-img></li>
          <li><ion-img src="assets/general-directions/4.jpg"></ion-img></li>
          <li><ion-img src="assets/general-directions/5.jpg"></ion-img></li>
          <li><ion-img src="assets/general-directions/6.jpg"></ion-img></li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>