ion-content{
    --ion-background-color: var(--app-primary-color) !important;
    --background:  var(--app-primary-color) !important;
    background:  var(--app-primary-color) !important;
    --color: #fff;
}

ion-item{
    --color: #fff;
}

#home-logo {
    margin: auto;
    display:block;
    width: 80%;
}

.home-btn-label{
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 0.7em;
}

#home-top-text {
    margin-top: 0;
    font-weight: 600;
    color: #e2e3ea;
}

.home-span-color{
    color: #fe1f23;
}

.home-btn-icon {
    font-size: 2.5rem;
    margin-right: 0;
    margin-left: 0.4em;
}

.col-btn{
    --border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
}


#product-catalog{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9e81f8+13,cf48ec+100 */
    --ion-background-color: #9e81f8; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #9e81f8 13%, #cf48ec 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #9e81f8 13%,#cf48ec 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #9e81f8 13%,#cf48ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e81f8', endColorstr='#cf48ec',GradientType=1 ); /* IE6-9 */
}

#choose-paint, #painting-tips{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#56be99+13,1db3cb+100 */
    --ion-background-color: #56be99; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #56be99 13%, #1db3cb 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #56be99 13%,#1db3cb 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #56be99 13%,#1db3cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56be99', endColorstr='#1db3cb',GradientType=1 ); /* IE6-9 */

}

#color-collections{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3db5ea+13,662eda+100 */
    --ion-background-color: #3db5ea; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #3db5ea 13%, #662eda 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #3db5ea 13%,#662eda 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #3db5ea 13%,#662eda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db5ea', endColorstr='#662eda',GradientType=1 ); /* IE6-9 */
}

#designer-scheme{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d25fee+13,f1428f+100 */
    --ion-background-color: #d25fee; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #d25fee 13%, #f1428f 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #d25fee 13%,#f1428f 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #d25fee 13%,#f1428f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d25fee', endColorstr='#f1428f',GradientType=1 ); /* IE6-9 */

}

#specs-writer-guide{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5c549+13,ed6b31+100 */
    --ion-background-color: #f5c549; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #f5c549 13%, #ed6b31 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #f5c549 13%,#ed6b31 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #f5c549 13%,#ed6b31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c549', endColorstr='#ed6b31',GradientType=1 ); /* IE6-9 */

}

#paint-calculator{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f95657+14,e2194d+100 */
    --ion-background-color: #f95657; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #f95657 14%, #e2194d 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #f95657 14%,#e2194d 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #f95657 14%,#e2194d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95657', endColorstr='#e2194d',GradientType=1 ); /* IE6-9 */

}

#color-capture{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1fc7ad+14,2fb73b+100 */
    --ion-background-color: #1fc7ad; /* Old browsers */
    --ion-background-color: -moz-linear-gradient(left,  #1fc7ad 14%, #2fb73b 100%); /* FF3.6-15 */
    --ion-background-color: -webkit-linear-gradient(left,  #1fc7ad 14%,#2fb73b 100%); /* Chrome10-25,Safari5.1-6 */
    --ion-background-color: linear-gradient(to right,  #1fc7ad 14%,#2fb73b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fc7ad', endColorstr='#2fb73b',GradientType=1 ); /* IE6-9 */

}