
ion-button.active{
    --border-color: var(--ion-color-danger);
    --border-style: solid;
    border-bottom: 2.5px solid var(--ion-color-danger) !important;
}

ion-button.faq-btn{
    text-transform:capitalize;
    border-bottom: 2.5px solid transparent;
}