
.category-container{
    --ion-background-color: #f3f3f3 !important;
    --background:  #f3f3f3 !important;
    background:  #f3f3f3 !important;
}

div.category{
  white-space: nowrap;
  overflow-x: auto !important;
}

ion-card{
    --ion-background-color: #ffffff !important;
    --background:  #ffffff !important;
    background:  #ffffff !important;
}
ion-card-title{
    font-size: 1rem;
}

.product-list-img{
    height: 100%;
    vertical-align: middle;
}
.product-list-header{
    padding-left: 0;
}

.product-content p{
    line-height: 23px;
    color: var(--ion-color-dark) !important;
}

ion-card-title{
    font-size: 1rem;
    text-transform: uppercase !important;
}
ion-card-subtitle{
    text-transform: none !important; 
}

.pc-text{
    text-align:left !important;
    padding-right: 7px;
    padding-left: 7px;
}

.pc-text-h2{
    text-align:center !important;
    padding-right: 7px;
    padding-left: 7px;
}

.pc-text-2{
    text-align:center !important;
    padding-right: 7px;
    padding-left: 7px;
}

.option-text{
    text-align:left !important;
    padding-left: 0px;
    margin-top: 0px;
}

.mb-2{
    margin-bottom: 7px;
}
.mb-0{
    margin-bottom: 0px;
}